* {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

body {
    background-color: rgba(43, 71, 97, 0.948);
    color: white;
}

.container {

    height: 100px;
    width: 100%;

}

.name {
    font-style: italic;
    color: rgb(18, 154, 233);
    font-size: 35px;
    position: absolute;
    left: 40px;
}

.li {
    display: inline-block;
    padding-right: 60px;
    font-size: 25px;

}

.ul {
    position: absolute;
    float: right;
    right: 30px;
    top: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ff8c69;
    transition: all 0.4s ease 0s;
}

.div1 {
    background-color: crimson;
    margin: auto;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 15px;
    padding-top: 5px;
    color: black;
    font-size: 3vh;
}

.div2 {
    background-color: crimson;
    margin: auto;
    margin-top: 200px;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 15px;
    padding-top: 5px;
    color: black;
    font-size: 3vh;

}

.inner1 {
    margin: auto;
    width: 50%;
    font-size: 3.5vh;
    margin-top: 25px;
    margin-left: 450px;
}

@media screen and (max-width:768px) {
    * {
        margin: 0;
        padding: 0;
        margin-top: 10px;
    }

    .container {

        height: 100px;
        width: 100%;

    }

    .name {
        font-style: italic;
        color: rgb(18, 154, 233);
        font-size: 4vw;
        position: absolute;
        left: 17px;
    }

    .li {
        display: inline-block;
        padding-right: 8px;
        font-size: 3vw;

    }

    .ul {
        position: absolute;
        float: right;
        right: 15px;
        top: 10px;
    }

    .div1 {
        background-color: crimson;
        margin: auto;
        width: 75%;
        text-align: center;
        border-radius: 5px;
        padding-bottom: 15px;
        padding-top: 5px;
        color: black;
        font-size: 2.5vh;
    }

    .div2 {
        background-color: crimson;
        margin: auto;
        margin-top: 200px;
        width: 75%;
        text-align: center;
        border-radius: 5px;
        padding-bottom: 15px;
        padding-top: 5px;
        color: black;
        font-size: 2.5vh;
    }

    .inner1 {
        margin: auto;
        width: 75%;
        font-size: 3vh;
        margin-top: 25px;
        margin-left: 60px;

    }
}

@media screen and (min-width:768px) and (max-width:1200px) {
    * {
        margin: 0;
        padding: 0;
        margin-top: 10px;
    }

    body {
        background-color: rgba(43, 71, 97, 0.948);
        color: white;
        height: 100%;
    }

    .container {

        height: 100px;
        width: 100%;

    }

    .name {
        font-style: italic;
        color: rgb(18, 154, 233);
        font-size: 32px;
        position: absolute;
        left: 30px;
    }

    .li {
        display: inline-block;
        padding-right: 20px;
        font-size: 25px;

    }

    .ul {
        position: absolute;
        float: right;
        right: 0px;
        top: 10px;
    }

    .div1 {
        background-color: crimson;
        margin: auto;
        width: 65%;
        text-align: center;
        border-radius: 5px;
        padding-bottom: 15px;
        padding-top: 5px;
        color: black;
        font-size: 3vh;
    }

    .div2 {
        background-color: crimson;
        margin: auto;
        margin-top: 150px;
        width: 65%;
        text-align: center;
        border-radius: 5px;
        padding-bottom: 15px;
        padding-top: 5px;
        color: black;
        font-size: 3vh;
    }

    .inner1 {
        margin: auto;
        width: 75%;
        font-size: 3.5vh;
        margin-top: 25px;
        margin-left: 25%;
    }
}